.messages {
    display: flex;
}

.messagesUsers {
    flex-basis: 20%;
}

.messagesBlock {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
}

.messageYours {
    align-self: flex-end;
    background-color: skyblue;
}