.photo {
    height: 200px;
    width: 200px;
}


a.page {
    color: black;
    text-decoration: none;
}

a.page:hover {
    color: #5286bb;
    text-decoration: none;
    cursor: pointer;
}

a.selectedPage {
    font-weight: bold;
    color: #5286bb;
}