.myPosts p {
  font-size: 30px;
}

.profilePic {
  height: 50px;
  width: 50px;
  padding-right: 15px;
}

.newPostBtn {
  display: flex;
  justify-content: flex-end;
}

.imgAndTextarea {
  display: flex;
}

.addPostForm {
  display: flex;
  justify-content: flex-end;
}