.facebook {
  background-image: url('../../../assets/001-facebook.svg');
}

.website {
  background-image: url('../../../assets/002-wattpad.svg');
}

.vk {
  background-image: url('../../../assets/003-vk.svg');
}

.twitter {
  background-image: url('../../../assets/004-twitter.svg');
}

.instagram {
  background-image: url('../../../assets/005-instagram.svg');
}

.youtube {
  background-image: url('../../../assets/006-youtube.svg');
}

.github {
  background-image: url('../../../assets/007-github.svg');
}

.mainLink {
  background-image: url('../../../assets/007-github.svg');
}