.header {
  width: 1000px;
  height: 200px;
}

.profileInfo {
  display: flex;
}

.profileInfo > div {
  display: flex;
  flex-direction: column;
}

.profilePhoto {
  width: 320px;
  background-color: #aba8ff;
  border-radius: 10px;
  margin-right: 25px;
}

.fullName {
  margin: 0;
}

.contacts {
  margin-top: 20px;
  display: flex;
}

.contacts > a > div {
  height: 50px;
  width: 50px;
  margin: 0 10px;
  background-size: contain;
}

